---
import Layout from '../layouts/Layout.astro';
import TableauContent from '../components/TableauContent.astro';
import GameMode from '../components/GameMode.astro';
import '../styles/mode.css';

const pageTitle = "Aventure | VulpiZ";
---

<Layout pageTitle={pageTitle}>
    <div class="content">
        <TableauContent type="patch_notes" mode="Aventure" />
        <GameMode mode="Aventure" />
        <TableauContent type="quetes" mode="Aventure" />
    </div>
</Layout>