---
import Layout from '../layouts/LayoutWithoutComponents.astro';
import logo from '../assets/logo.svg';
import '../styles/connexion.css';

const pageTitle = "Connexion | VulpiZ";
---
<Layout pageTitle={pageTitle}>
    <div class="content">
        <img src={logo.src} alt="logo_VulpiZ" />
      
        <p class="accroche">Pour accéder à VulpiZ, connectez-vous !</p>
      
        <div class="formulaire">
            <form>
                <p>Se connecter</p>
                <hr />
                <div class="Box">
                    <span>Email</span>
                    <div class="box">
                        <input type="text" id="email" pattern="[a-z0-9A-Z._-]+@[a-z.]+\.[a-z]{2,4}" required />
                    </div>
                    <br />
                    <span>Mot de Passe</span>
                    <div class="box">
                        <input type="password" id="password" pattern="[a-z0-9A-Z._-!]{8,}" required />
                    </div>
                    <br />
                    <div class="box">
                        <input type="submit" id="submit" value="Se connecter" />
                    </div>
                </div>
            </form>
        </div>
      
        <a href="/inscription" class="inscription">Pas de compte ? Inscrivez-vous !</a>
    </div>
    <script src="../js/login.js"></script>
</Layout>