---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Connexion | VulpiZ";
---
<Layout pageTitle={pageTitle}>
    <div class="content">
        <img src="/logo.svg" alt="logo_VulpiZ" />
      
        <p class="accroche">Pour accéder à VulpiZ, connectez-vous !</p>
      
        <div class="formulaire">
            <form action="connexionbase.php" method="post">
                <p>Se connecter</p>
                <hr />
                <div class="Box">
                    <span>Email</span>
                    <div class="box">
                        <input type="text" name="email" id="email" placeholder="adresse@gmail.com" pattern="[a-z0-9A-Z._-]+@[a-z.]+\.[a-z]{2,4}" required />
                    </div>
                    <br />
                    <span>Mot de Passe</span>
                    <div class="box">
                        <input type="password" name="password" id="password" pattern="[a-z0-9A-Z._-!]{8,}" required />
                    </div>
                    <br />
                    <div class="box">
                        <input type="submit" value="Se connecter" />
                    </div>
                </div>
            </form>
        </div>
      
        <a href="/Inscription/inscription.php" class="inscription">Pas de compte ? Inscrivez-vous !</a>
    </div>
</Layout>