---
import Layout from '../layouts/LayoutWithoutComponents.astro';
import logo from '../assets/logo.svg';
import '../styles/formulaire.css';

const pageTitle = "Connexion | VulpiZ";
---
<Layout pageTitle={pageTitle}>
    <div class="content">
        <img src={logo.src} alt="logo_VulpiZ" />
      
        <p class="accroche">Pour accéder à VulpiZ, connectez-vous !</p>
      
        <div class="formulaire">
            <form>
                <p class="action">Se connecter</p>
                <div class="Box">
                    <div id="message" class="message"></div>
                    <div class="informations">
                        <span class="champs">Email*</span>
                        <input type="text" id="email" />
                    </div>
                    <div class="informations">
                        <span class="champs">Mot de Passe*</span>
                        <input type="password" id="password" />
                        <a href="#" id="reset-mdp">Mot de passe oublié ?</a>
                    </div>
                    <input type="submit" id="submit" value="Se connecter" />
                </div>
            </form>
        </div>
      
        <a href="/inscription" class="inscription">Pas de compte ? Inscrivez-vous !</a>
    </div>
    <script src="../js/login.js"></script>
</Layout>