---
import Layout from "../layouts/Layout.astro";
import Tableau from "../components/Tableau.astro";
const pageTitle = "Accueil | VulpiZ";
---

<?php
session_start();

if (!isset($_SESSION['user_id'])) {
    header('Location: /connexion.php');
    exit();
}
?>

<Layout pageTitle={pageTitle}>
	<div class = "content">
		<!--<Tableau />
		<div>
			<div class="Mode">
				<fleche>
				<h1>Solo</h1>
				<fleche>
			</div>
			<bouton jouer>
			<bouton proposer question>
		</div>
		<Tableau />
	-->
	</div>
</Layout>