---
import Layout from "../layouts/Layout.astro";
import Tableau from "../components/Tableau.astro";

const pageTitle = "Accueil | VulpiZ";
---

<Layout pageTitle={pageTitle}>
	<div class = "content">
		<a href="#" id="logout">Déconnexion</a>
		<!--<h1>Bienvenue {user.displayName}</h1>-->
		<!--<Tableau />
		<div>
			<div class="Mode">
				<fleche>
				<h1>Solo</h1>
				<fleche>
			</div>
			<bouton jouer>
			<bouton proposer question>
		</div>
		<Tableau />
	-->
	</div>
	<p>Email: <span id="userEmail"></span></p>
<p>UID: <span id="userId"></span></p>
</Layout>