---
import Layout from '../layouts/LayoutWithoutComponents.astro';
import logo from '../assets/logo.svg';
import '../styles/formulaire.css';

const pageTitle = "Inscription | VulpiZ";
---
<Layout pageTitle={pageTitle}>
    <div class="content">
        <img src={logo.src} alt="logo_VulpiZ" />
      
        <p class="accroche">Pour accéder à VulpiZ, inscrivez-vous !</p>
      
        <div class="formulaire">
            <form>
                <p class="action">S'inscrire</p>
                <div class="Box">
                    <div id="message" class="message"></div>
                    <div class="informations">
                        <span class="champs">Pseudo*</span>
                        <input type="text" id="pseudo" />
                    </div>
                    <div class="informations">
                        <span class="champs">Email*</span>
                        <input type="email" id="email" />
                    </div>
                    <div class="informations">
                        <span class="champs">Mot de Passe*</span>
                        <input type="password" id="password" />
                    </div>
                    <div class="informations">
                        <span class="champs">Mot de Passe (Confirmation)*</span>
                        <input type="password" id="password-confirmation" />
                    </div>
                    
                    <div class="conditions">
                        <input type="checkbox" id="droit" required>
                        <label for="droit">En cliquant sur S'inscrire, vous acceptez les <a href="/mentionsLegales-v">Conditions d'utilisation</a> de VulpiZ et vous confirmez avoir lu nos <a href="/mentionsLegales">Mention Légales</a></label>
                    </div>

                    <input type="submit" id="submit" value="S'inscrire" />
                    
                </div>
            </form>
        </div>
      
        <a href="connexion" class="connexion">Déjà un compte ? Connectez-vous !</a>
    </div>
    <script src="../js/register.js"></script>
</Layout>