---
import Layout from '../layouts/LayoutWithoutComponents.astro';
const pageTitle = "Inscription | VulpiZ";
---
<Layout pageTitle={pageTitle}>
    <div class="content">
        <img src="/logo.svg" alt="logo_VulpiZ" />
      
        <p class="accroche">Pour accéder à VulpiZ, inscrivez-vous !</p>
      
        <div class="formulaire">
            <form action="connexionbase.php" method="post">
                <p>S'inscrire</p>
                <hr />
                <div class="Box">
                    <span>Pseudo</span>
                    <div class="box">
                        <input type="text" name="pseudo" id="pseudo" pattern="[a-z0-9A-Z._-]{3,32}" required>
                    </div>
                    <span>Email</span>
                    <div class="box">
                        <input type="text" name="email" id="email" placeholder="adresse@gmail.com" pattern="[a-z0-9A-Z._-]+@[a-z.]+\.[a-z]{2,4}" required />
                    </div>
                    <br />
                    <span>Mot de Passe</span>
                    <div class="box">
                        <input type="password" name="password" id="password" pattern="[a-z0-9A-Z._-!]{8,}" required />
                    </div>
                    <br />
                    <div class="box">
                        <input type="submit" value="S'inscrire" />
                    </div>
                    <input type="checkbox" name="droit" id="droit" required><label for="droit">En cliquant sur S'inscrire, vous acceptez les <span>Conditions d'utilisation</span> de VulpiZ et vous confirmez avoir lu nos <span>Mention Légales</span></label>
                </div>
            </form>
        </div>
      
        <a href="connexion" class="inscription">Déjà un compte ? Connectez-vous !</a>
    </div>
</Layout>

<style>
    img{
    transition: transform 0.3s ease;
    }

    .content > .accroche{
    font-size:24px;
    font-weight:600;
    }

    .content > .formulaire{
    background-color: var(--orange);
    border-radius: 30px;
    min-width: 330px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    padding: 50px;
    }

    .content > .inscription{
    margin-top:20px;
    font-size:24px;
    font-weight:600;
    color:white;
    text-decoration: underline;
    }

    /*Tablette*/
    @media (max-width: 768px){
    img{
        transform: scale(0.8);
    }

    .content > .accroche{
        font-size:20px;
    }

    .content > .formulaire{
        width: 420px;
    }
    
    .content > .inscription{
        font-size:20px;
    }
    }
    
    /*Mobile*/
    @media (max-width: 480px){
    img{
        transform: scale(0.6);
    }

    .content > .accroche{
        font-size:16px;
    }

    .content > .formulaire{
        width: 330px;
    }
    
    .content > .inscription{
        font-size:16px;
    }
    }
</style>