---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/suggestion.css';

const { pageTitle } = Astro.props;
---
<?php
session_start();

if (!isset($_SESSION['user_id'])) {
    header('Location: /connexion.php');
    exit();
}
?>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
  	<meta name="description" content="Découvrez VulpiZ, votre site de quiz innovant mélant culture, fun et renard !">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div id = "page-content">
      <slot />
    </div>
    <Footer />
    <script src="../js/navigation.js"></script>
    <script src="../js/AuthManager.js"></script>
    <script src="../js/suggestion.js"></script>
  </body>
</html>