.content > .titre{
  font-size:24px;
  font-weight:600;
}

.content > .accroche{
  font-size:20px;
  font-weight:400;
  color:white;
}

img{
  transition: transform 0.3s ease;
}

.content > .redirection{
  font-size:20px;
  font-weight:400;
}

a:-webkit-any-link {
  color: white;
}

/*Tablette*/
@media (max-width: 768px){
  .content > .titre{
    font-size:20px;
  }

  img{
    transform: scale(0.8);
  }
  
  .content > .accroche{
    font-size:18px;
  }
  
  .content > .redirection{
    font-size:18px;
  }
}
  
/*Mobile*/
@media (max-width: 480px){
  .content > .titre{
    font-size:16px;
  }

  img{
    transform: scale(0.5);
  }
  
  .content > .accroche{
    font-size:14px;
  }
  
  .content > .redirection{
    font-size:14px;
  }
}