.profile-container {
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    gap:13px;
}

.profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap:7px;
}

.level-progress {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.currency-amount, .level-text {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.progress-bar {
    width: auto;
    height: 0.5rem;
    background-color: #4B3D5D;
    border-radius: 30px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--orange);
}

@media (max-width: 1024px) {
    .profile-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem 0;
        width: 50%;
    }

    .profile-info {
        align-items: center;
    }

    .currency-amount,
    .level-text {
        font-size: 1rem;
    }

    .progress-bar {
        width: 100%;
        max-width: 300px;
    }
}