.quete {
    background: var(--orange);
    border-radius: 10px;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25),
                4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.completed {
    background: var(--orange2);
}

@media (max-width: 768px) {
    .quete {
        padding: 0.8rem;
    }
}