---
import '../styles/footer.css';
---

<footer>
  <div class="spacer"></div>
  <nav>
    {true && <a href="/contact">Contact</a>}
    <a href="/mentionsLegales">Mentions légales</a>
    <a href="/politiqueConfidentialite">Politique de confidentialité</a>
  </nav>
  <p>&copy; 2024 VulpiZ. Tous droits réservés.</p>
</footer>