---
import Navigation from '../components/Navigation.astro';
import Profil from '../components/Profil.astro';
import logo from '../assets/logo.svg'
import '../styles/header.css';
---

<header>
    <div class="mobile-header">
        <a href="/" class="logo-link"><img src={logo.src} alt="Logo VulpiZ"></a>
        <div class="nav-container">
            <button class="menu-toggle" aria-label="Toggle menu" id="menuToggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="nav-wrapper" id="navWrapper">
                <Navigation />
            </div>
        </div>
        <Profil />
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuToggle = document.getElementById('menuToggle');
        const navWrapper = document.getElementById('navWrapper');
        const navContainer = document.querySelector('.nav-container');

        if (menuToggle && navWrapper && navContainer) {
            menuToggle.addEventListener('click', () => {
                menuToggle.classList.toggle('active');
                navWrapper.classList.toggle('active');
                navContainer.classList.toggle('active');
            });
        }
    });
</script>