---
import { pool } from '../db/databaseConfig';

const { mode } = Astro.props;

const [patches] = await pool.execute(`
    SELECT p.date_patch, p.description_patch 
    FROM patch_note p
    JOIN type_patch tp ON p.id_type_patch = tp.id_type_patch
    WHERE tp.type_patch = ?
    ORDER BY p.date_patch DESC
    LIMIT 5
`, [mode]);
---

{patches.map(patch => (
    <div class="patch">
        <span class="date">{new Date(patch.date_patch).toLocaleDateString('fr-FR', {day: '2-digit', month: '2-digit'})}</span>
        <p>{patch.description_patch}</p>
        <div class="separator"></div>
    </div>
))}

<style>
    .patch {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .date {
        font-weight: bold;
    }

    .separator {
        height: 2px;
        background: var(--orange);
        width: 150px;
        margin: 1rem 0;
        border-radius: 1px;
    }
</style>