---
import PatchNotes from './PatchNotes.astro';
import Quetes from './Quetes.astro';
import GameMode from './GameMode.astro';

interface Props {
    type: 'patch_notes' | 'quetes';
    mode: 'Solo' | 'Aventure' | 'Révision';
}

const { type, mode } = Astro.props;
---

<div class="tableau">
    <h1>{type === 'patch_notes' ? 'Patch Notes' : 'Quêtes ' + mode}</h1>
    <div class="separator"></div>
    
    {type === 'patch_notes' ? 
        <PatchNotes mode={mode} /> : 
        <Quetes mode={mode} />
    }
</div>

<style>
    .tableau {
        background: var(--ft-second);
        border-radius: 30px;
        box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25),
                    4px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0.5rem 2rem 1rem 2rem;
    }

    h1 {
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

    .separator {
        height: 2px;
        background: var(--orange);
        width: 100px;
        margin: 0 auto 2rem auto;
        border-radius: 50px;
    }
</style>